<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <div class="container-fluid">
    <button class="btn btn-link d-md-none rounded-circle mr-3" type="button" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand text-primary">Dashboard</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
          <button class="nav-link dropdown-toggle text-primary" (click)="toggleNotifications()">
            <i class="fas fa-bell"></i>
            <span *ngIf="getUnreadCount() > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ getUnreadCount() }}
            </span>
          </button>
          <!-- Dropdown - Alerts -->
          <ul *ngIf="showNotifications" class="dropdown-list dropdown-menu-right shadow animated--grow-in">
            <li class="dropdown-header">Notifications</li>
            <li *ngFor="let notification of notifications" class="dropdown-item d-flex align-items-center" [ngClass]="{'text-muted': notification.read}">
              <span class="text-start fw-normal ms-0" (click)="markAsRead(notification)">{{ notification.contenu }}</span>
              <div class="small text-gray-500 ms-1">{{ notification.dateNotif | date }}</div>
              <button *ngIf="!notification.read" class="btn btn-link ms-auto text-primary" (click)="markAsRead(notification)">Marquer comme lu</button>
            </li>
          </ul>
        </li>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
          <button *ngIf="currentUser" class="nav-link dropdown-toggle text-primary" (click)="toggleProfile()">
            <i class="fas fa-user-circle"></i> Profile: {{ currentUser.username }}
          </button>
          <ul *ngIf="showProfile" class="dropdown-menu-right shadow animated--grow-in" aria-labelledby="navbarDropdown">
            <li class="list-group-item active"><a class="dropdown-item" href="/user-profile"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Mon Profil</a></li>
            <li class="list-group-item active"><a *ngIf="currentUser" class="dropdown-item" href="#" (click)="logout()"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Déconnexion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
