<div class="container">
  <h1 class="h2 mb-4">Liste des Utilisateurs</h1>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-primary" (click)="addUtilisateur()">Ajouter Utilisateur</button>
    <div class="form-group mb-0">
      <label for="search">Rechercher par Nom d'utilisateur</label>
      <input id="search" type="text" class="form-control" (keyup)="applyFilter($event)" placeholder="Nom d'utilisateur">
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Nom d'utilisateur</th>
        <th>Email</th>
        <th>Rôle</th>
        <th>Entrepôt</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let utilisateur of filteredUtilisateurs; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ utilisateur.username }}</td>
        <td>{{ utilisateur.email }}</td>
        <td>{{ utilisateur.role?.name }}</td>
        <td>{{ utilisateur.entrepot?.entrepotName }}</td>
        <td>
          <button class="btn btn-warning btn-sm m-2" (click)="showEditConfirmation(editModal, utilisateur.id)">Modifier</button>
          <button class="btn btn-danger btn-sm m-2 " (click)="showDeleteConfirmation(deleteModal, utilisateur.id)">Supprimer</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal de confirmation de suppression -->
  <ng-template #deleteModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Confirmer la suppression</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      Êtes-vous sûr de vouloir supprimer cet utilisateur ?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Annuler</button>
      <button type="button" class="btn btn-danger" (click)="confirmDelete()">Supprimer</button>
    </div>
  </ng-template>

  <!-- Modal de confirmation de modification -->
  <ng-template #editModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Confirmer la modification</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      Êtes-vous sûr de vouloir modifier cet utilisateur ?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Annuler</button>
      <button type="button" class="btn btn-primary" (click)="confirmEdit()">Modifier</button>
    </div>
  </ng-template>
</div>

