<div class="container mx-auto px-4 py-6">
  <div class="card advanced-form-card">
    <div class="card-header">
      <h5 class="card-title">{{ isEditMode ? 'Modifier Bon d\'Entrée' : 'Ajouter Bon d\'Entrée' }}</h5>
    </div>
    <div class="card-body">
      <form id="bonEntreeForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <div class="col-md-6 mb-3">
            <label for="date_commande">Date de Commande</label>
            <input type="date" class="form-control" id="date_commande" name="date_commande" [(ngModel)]="bonEntree.dateCommande" required>

          </div>
          <div class="col-md-6 mb-3">
            <label for="statut">Statut</label>
            <select class="form-control" id="statut" name="statut" [(ngModel)]="bonEntree.statut">
              <option value="En Cours">En Cours</option>
              <option value="En Stock">En Stock</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6 mb-3">
            <label for="fournisseur">Fournisseur</label>
            <select class="form-control" id="fournisseur" name="fournisseur" [(ngModel)]="selectedFournisseurId" (change)="onFournisseurChange($event)">
              <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">{{ fournisseur.fournName }}</option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <div class="col-md-6 mb-3">
              <label for="utilisateur">Utilisateur</label>
              <input type="hidden" class="form-control" id="utilisateur" name="utilisateur" [(ngModel)]="bonEntree.utilisateur.id" [value]="bonEntree.utilisateur.id"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Détails des Entrées</label>
          <div *ngFor="let detail of detailsEntrees; let i = index" class="form-group row">
            <div class="col-md-4 mb-3">
              <label>Produit</label>
              <select class="form-control" [(ngModel)]="detail.id">
                <option *ngFor="let produit of produits" [value]="produit.id">{{ produit.productName }}</option>
              </select>
            </div>
            <div class="col-md-4 mb-3">
              <label>Quantité</label>
              <input type="number" class="form-control" [(ngModel)]="detail.quantite" name="quantite{{i}}">
            </div>
            <div class="col-md-4 mb-3">
              <label>Prix Total</label>
              <input type="number" class="form-control" [(ngModel)]="detail.prix" name="prix_total{{i}}">
            </div>
          </div>
          <button class="btn btn-secondary" type="button" (click)="addDetailEntree()">Ajouter Détail</button>
        </div>
        <div class="button-container">
          <button class="btn btn-primary" type="submit">{{ isEditMode ? 'Modifier' : 'Ajouter' }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
