<div class="print-container" id="print-container">
  <div class="print-section card">
    <div class="card-header text-center">
      <h1>Bon de Sortie</h1>
    </div>
    <div class="card-body">
      <div class="mb-4">
        <h5 class="card-title">Bon de Sortie: {{ bonSortie.id }}</h5>
        <p><strong>Date:</strong> {{ bonSortie.dateSortie | date }}</p>
        <p><strong>Motif:</strong> {{ bonSortie.motif }}</p>
      </div>
      <div class="mb-4">
        <h5 class="card-title">Détails des Sorties</h5>
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Prix Total</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let detail of bonSortie.detailsSorties; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ detail.produit.productName }}</td>
            <td>{{ detail.quantity }}</td>
            <td>{{ detail.prix }}  FCFA</td>
            <td>{{ detail.quantity * detail.prix}}  FCFA</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="mb-4">
        <h6 class="card-title text-end">Total TTC</h6>
        <p class="card-text text-end">{{ getTotalTTC() }} FCFA</p>
        <h6 class="card-title text-end">Signature</h6>
        <p class="card-text text-end"></p>

      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-sm imp" id="imp" (click)="printDocument()">Imprimer</button>
      </div>
    </div>
  </div>
</div>
