<div class="container mx-auto px-4 py-6">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">{{ isEditMode ? 'Modifier Utilisateur' : 'Ajouter Utilisateur' }}</h5>
    </div>
    <div class="card-body">
      <form id="utilisateurForm" (ngSubmit)="onSubmit($event)">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="utilisateur.username" required>
          </div>
          <div class="form-group col-md-6">
            <label for="contact">Contact</label>
            <input type="text" class="form-control" id="contact" name="contact" [(ngModel)]="utilisateur.contact" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="utilisateur.email" required>
          </div>
          <div class="form-group col-md-6">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="utilisateur.password" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="roles_id">Rôle</label>
            <select class="form-control" id="roles_id" name="roles_id" [(ngModel)]="selectedRole" (change)="onRoleChange($event)">
              <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="entrepots_id">Entrepôt</label>
            <select class="form-control" id="entrepots_id" name="entrepots_id" [(ngModel)]="selectedEntrepot" (change)="onEntrepotChange($event)">
              <option *ngFor="let entrepot of entrepots" [value]="entrepot.id">{{ entrepot.entrepotName }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Modifier' : 'Ajouter' }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
